{
  "parser": "babel-eslint",
  "extends": "@17media/eslint-config-17media/browser",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "no-unused-vars": ["warn"]
  }
}